@reference './../../../main.scss';

.nav {
  &__list {
    @apply flex gap-16;
    & a {
      @apply relative transition-all duration-200 ease-linear;
      &.active {
        @apply font-bold;
        &::after {
          @apply w-full;
        }
      }

      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        border-radius: 5px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -26px;
        // background-color: var(--color-primary);
        transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        @apply bg-primary;
      }

      &:hover {
        @apply text-black;
        &::after {
          @apply w-full;
        }
      }
    }
  }
}
