@import "tailwindcss";

@theme {
  --color-primary-light-1: #59ac69;
  --color-primary-light-2: #6bb579;
  --color-primary: #46a358;
  --color-primary-dark-1: #1c4123;
  --color-grey-light: #fbfbfb;
  --color-grey-light-2: #777777;
  --color-grey-dark: #3d3d3d;
  --color-grey-dark-2: #727272;
  /* --color-tag-orange: #f08700; */
  --color-tag-orange: #f6b766;
  --font-second: "Roboto", serif;
}
::selection {
  background-color: var(--color-primary);
  color: var(--color-grey-light);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-grey-light);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-light-1);
  cursor: pointer;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif;
  font-size: 1.6rem;
  color: var(--color-grey-dark);
  background-color: #fff;
}
