@import "tailwindcss";

@theme {
  --color-primary-light-1: #59ac69;
  --color-primary: #46a358;
  --color-primary-dark-1: #1c4123;
  --color-grey-light: #fbfbfb;
  --color-grey-light-2: #777777;
  --color-grey-dark: #3d3d3d;
  --color-grey-dark-2: #727272;
  --font-second: "Roboto", serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif;
  font-size: 1.6rem;
  color: var(--color-grey-dark);
  background-color: #fff;
}
